<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Sai Bada Trading Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Russo+One|Exo:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind.min.css" integrity="sha512-KO1h5ynYuqsFuEicc7DmOQc+S9m2xiCKYlC3zcZCSEw0RGDsxcMnppRaMZnb0DdzTDPaW22ID/gAGCZ9i+RT/w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
    <body >

        <section id="home" class="w-full flex justify-center items-center my-10">
            <form class="">
              <div class="form-group">
                <label class="text-gray-600 font-semibold text-lg">Phone Number</label>
                <div
                v-for="(input, index) in phoneNumbers"
                :key="`phoneInput-${index}`"
                class="input wrapper flex items-center"
                >
                <input
                    v-model="input.phone"
                    type="text"
                    class="h-10 rounded-lg outline-none p-2"
                    placeholder=" Enter Phone Number"
                />
                

                <!--          Remove Svg Icon-->
                <svg
                    v-show="phoneNumbers.length > 1"
                    @click="removeField(index, phoneNumbers)"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="ml-2 cursor-pointer"
                >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                    fill="#EC4899"
                    d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                    />
                </svg>
                </div>
                <!--          Add Svg Icon-->
                <svg
                    @click="addField(input, phoneNumbers)"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="ml-2 cursor-pointer"
                >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                    fill="green"
                    d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                    />
                </svg>
              </div>
            </form>
          </section>

        <div class="flex min-h-screen justify-center py-16 px-5 bg-white">
            <div class="w-full bg-white md:w-1/2 lg:w-5/12 pb-5 box-shadow border-radius">
                <h1 class="text-2xl font-semibold text-center bg-indigo-500 text-white font-bold py-5 border-top-radius">SAI BABA TRADING COMPANY</h1>
                <form class="pt-10 pb-5 px-5 md:px-12 pb-2">
                

                <label for="name" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Client Name</label>
                <input id="name" type="text" name="name" placeholder=""  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                
                <div class="field_wrapper">
                    <div class="flex justify-between items-center mb-5">
                        <span class="w-1/2 mr-2">
                            <label for="basicRate" class="block text-xs mt-2 font-semibold text-gray-600 uppercase">Basic</label>
                            <select name="basicRate[]" onchange="getBasicVal(this);" class="basicRate block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required>
                                <option disabled selected value> -- Select thickness -- </option>
                                <option value="8">8mm</option>
                                <option value="10">10mm</option>
                                <option value="12">12mm</option>
                                <option value="16">16mm</option>
                                <option value="20">20mm</option>
                                <option value="25">25mm</option>
                            </select>
                        </span>
                        <span class="w-1/2">
                            <label for="" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Quantity (in tons)</label>
                            <input id="quantity" type="text" name="quantity" placeholder=""  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                        </span>
                    </div>
                    
                </div>

                <input type="text" id="servicetypesArray" name="data[servicetypes][]" value="" hidden/>
                <a href="javascript:void(0);" class="add_button w-1/5 p-1 mb-3 inline-block text-center font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none" title="Add field">Add</a>

                
               
                

                <input id="diaDiff" type="hidden" name="diaDiff" value="4000" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required readonly/>

                <label for="loading" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Loading (per ton)</label>
                <input id="loading" type="text" name="loading" placeholder="250 per ton" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required readonly/>
                               
                <label for="todayRate" class="block text-xs mt-2 font-semibold text-gray-600 uppercase">Today's Rate (per ton)</label>
                <input id="todayRate" type="text" name="todayRate" placeholder="e.g 34911" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                
                

                <label for="gst" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">GST 18%</label>
                <input id="gst" type="text" name="gst" placeholder=""  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required readonly/>
                
                <div class="flex justify-between items-center mt-5">
                    <span class="w-1/3">
                        <p class="block text-xl font-semibold text-gray-600 uppercase">Total</p>
                    </span>
                    <span class="w-2/3">
                        <input id="total" type="text" name="total" placeholder=""  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required readonly/>
                    </span>
                </div>
                <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                    Submit
                </button>
                
                </form>
                <p class="mt-5 text-center text-sm text-gray-600">Powered by <a href="https://www.ssquares.co.in" class="font-semibold">Ssquares</a></p>
            </div>
        </div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script  src="script.js"></script>
        <script  src="v.js"></script>
    </body>
</html>
